@charset "UTF-8";


@media screen and (min-width: 1450px) {
  /*FHD*/
  .container {
  display:flex;
  justify-content:center;
  align-items:center;
 }
}

@media screen and (min-width: 1050px) and (max-width: 1499px) {
  /*HD*/

}

@media screen and (min-width: 660px) and (max-width: 1049px) {
  /*TB*/
  
}

@media screen and (max-width: 659px) {
  /*SM*/
  
}
