@charset "utf-8";

/* common style */
ul li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  border: 0;
  outline: 0;
}
.clear {
  clear: both;
}
section span {
  color: #f771d1;
} /* Point Color*/

/* ///// FHD ////// */
@media screen and (min-width: 1450px) {
  /* 타이틀 박스 */
  div.banner {
    height: 580px;
    width: 100%;
    background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
    background-size: cover;
    position: relative;
  }
  .banner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.3;
    background: #000;
  }
  h2.subTitle {
    position: relative;
    padding-top: 280px;
    font-family: "Abril Fatface", cursive;
    font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

    background: #ffffff;
    background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .first > .h3_tbup {
    position: relative;
    font-family: "Gowun Batang", serif;
    font-size: 26px;
    text-align: center;
    color: #fff;
  }
  .first > p {
    position: relative;
    padding-top: 10px;
    text-align: center;
    color: #fff;
  }
  .first > .h3_sm {
    display: none;
  }

  h4 {
    margin: 120px auto 0;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .h4_p {
    text-align: center;
    margin-bottom: 70px;
  }

  /* body 다음 최상위 박스 */
  section.itemFilter {
    margin: 0 auto;
    padding-bottom: 120px;
    width: 1420px;
  }

  /* 메인메뉴 외부 박스 */
  .filterBox {
    width: 100%;
    height: 420px; /*높이값 최상위 */
    margin: 0 auto;
    padding: 10px;
    background: #f4f4f6;
    border-radius: 10px;
  }
  .filterBoxInner {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }

  /* 메인메뉴 모양 */
  .pickingBox {
    width: 45%;
  }
  .pickingBox > li {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }
  .pickingBox > li > label {
    width: 25%;
  }
  .pickingBox > li > .pickingBoxDesc {
    width: 75%;
  }
  .pickingBoxDesc,
  .pickedBox {
    position: absolute;
    left: calc(25% - 1px); /*제목 너비보다 1작게 */
    top: 0;
  }
  .pickingBoxDesc,
  .pickedBox li {
    height: 62px;
    padding: 0 30px;
    font-size: 16px;
    color: #333;
    line-height: 57px;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
  }

  /* 블라인드 */
  .pickingBox > li > .blind2 {
    z-index: 9;
    position: absolute;
    left: calc(25% - 1px); /*제목 너비보다 1px 적게*/
    top: 62px;
    width: 2px;
    height: 10px;
    background: #fff;
  }
  .pickingBox > li > .blind3 {
    z-index: 2;
    position: absolute;
    left: 25%; /*제목 너비와 같게*/
    top: 1px;
    width: 1px;
    height: 60px;
    background: #fff;
  }

  /* 메인메뉴 제목 모양 */
  .pickingBox > li > input {
    display: none;
  }
  .pickingBox > li > label {
    display: block;
    width: 25%; /* 블라인드, Desc박스 기준점*/
    height: 62px;
    z-index: 9;
    font-size: 16px;
    color: #9542bf;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
    border: solid 1px #f5d1e9;
    border-radius: 10px 0 0 10px;
    transition: all 0.4s ease-in;
  }
  .pickingBox:nth-child(1) > li > label:hover {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > label:hover + div {
    z-index: 11;
    position: absolute;
    left: calc(25% - 1px); /*제목 너비보다 1작게*/
    top: 1px;
    width: 2px;
    height: 60px;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > input:checked ~ label {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
    border: solid 1px #f5d1e9;
  }
  .pickingBox:nth-child(1) > li > input:checked ~ div {
    z-index: 11;
    position: absolute;
    left: calc(25% - 1px); /*제목 너비보다 1작게*/
    top: 1px;
    width: 2px;
    height: 60px;
    background: #fff;
  }

  .r-pickingBox > li > label {
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }

  /* 좌우 슬라이더-서브메뉴 모양 */
  .submenu {
    position: absolute;
    z-index: 1;
    left: calc(25% - 1px); /*제목 너비보다 1작게*/
    height: 278px;
    width: 0;
    overflow: hidden;
    background: #fff;
    border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
    border-radius: 0 10px 10px 0;
    transition: all 0.4s ease-in; /* 작동 안하는 이유 불명 */
  }
  .submenuNose {
    top: 0;
  }
  .submenuPalate {
    top: -72px;
  }
  .submenuFinish {
    top: -144px;
  }
  .submenuType {
    top: -216px;
  }

  /* 서브메뉴 선택 후 모양 */
  #noseBtn:checked ~ .submenuNose {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: 75%; /*메인메뉴 제목 |너비-1|값*/
    padding: 0 20px;
  }
  #palateBtn:checked ~ .submenuPalate {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: 75%;
    padding: 0 20px;
  }
  #finishBtn:checked ~ .submenuFinish {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: 75%;
    padding: 0 20px;
  }
  #typeBtn:checked ~ .submenuType {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: 75%;
    padding: 0 20px;
  }

  /* 서브메뉴 내부 컨텐츠 */
  .submenu input {
    display: none;
  }
  .submenu input:checked + label {
    color: #9542bf;
    text-shadow: 0 0 2px #9542bf;
  }
  .submenu label {
    float: left;
  }
  .submenu label {
    display: block;
    float: left;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
  }
  .submenu label:hover {
    color: #9542bf;
  }

  /* submenu2 스크롤 화살표 */
  .pickedBox .chevron {
    z-index: 9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 50%;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox .chevron:hover {
    filter: invert(0.9);
  }
  .pickedBox .Lchevron {
    left: 10px;
    background: url(../imgs/toLeft.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }
  .pickedBox .Rchevron {
    right: 10px;
    background: url(../imgs/toRight.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }

  /* submenu2 overflow shading box */
  .pickedBox .shading {
    z-index: 8;
    position: absolute;
    width: 70px;
    height: calc(100% - 2px);
  }
  .pickedBox div[class*="left"] {
    top: 1px;
    left: 1px;
    background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }
  .pickedBox div[class*="right"] {
    top: 1px;
    right: 1px;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }

  /* 선택된 항목 출력 박스*/
  .pickedBox > li {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 35px;
    min-width: 453px;
    max-width: 453px;
  }
  .pickedBox input {
    display: none;
  }
  .pickedBox label {
    position: relative;
    margin-right: 15px;
    height: 42px;
    padding: 5px 50px 5px 20px;
    line-height: 27px;
    white-space: nowrap;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #9542bf;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox label:hover {
    color: #9542bf;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }
  .pickedBox label::after {
    position: absolute;
    top: 10px;
    right: 20px;
    content: "×";
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
  }

  /* 조건에 맞는 럼 출력 스위치 */
  .filterBoxInner > button {
    display: block;
    position: absolute;
    bottom: 5%;
    left: calc(50% - 60px);
    padding-bottom: 4px;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    background: #fff;
    border: 2px solid #808292;
  }
  .filterBoxInner > button:hover {
    color: #fff;
    background: #808292;
    border: 0;
  }

  /* 럼 출력 슬라이더 */
  .itemShow {
    position: relative;
  }

  /* 좌우스크롤 화살표 */
  .Bchevron {
    z-index: 10;
    position: absolute;
    bottom: calc(50% - 50px);
    width: 30px;
    cursor: pointer;
    filter: invert(0.7);
    transition: all 0.4s ease-in;
  }
  .toLeft {
    left: 30px;
  }
  .toLeft:hover {
    filter: invert(0.1);
  }
  .toRight {
    right: 30px;
  }
  .toRight:hover {
    filter: invert(0.1);
  }

  .carouselBox {
    padding: 90px 260px 120px;
    height: 855px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background: url(../imgs/ourRumsCarouselBoxBg.png) no-repeat center;
    background-size: cover;
  }
  .itemBox {
    display: inline-block;
    position: relative;
    padding: 50px;
    margin: auto 25px;
    width: 400px;
    height: 645px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in;
  }

  .itemBox:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .itemBox > .itemImg {
    width: 300px;
    height: 300px;
    margin-bottom: 45px;
    border-radius: 300px;
    object-fit: cover;
  }
  .itemBox > h5 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #e2e2e2;
    text-align: center;
    text-transform: uppercase;
  }
  .itemBox > p {
    white-space: normal;
    font-size: 16px;
    color: #e2e2e2;
    text-align: center;
  }

  .itemBox > a {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 2px 2px 3px 2px rgba(3, 3, 3, 0.5);
    transition: all 0.3s ease-in;
  }
  .itemBox > a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(188, 188, 188, 0.5);
  }
}

/* ///// HD ///// */
@media screen and (min-width: 1050px) and (max-width: 1449px) {
  /* 섹션 타이틀 */
  .banner {
    height: 580px;
    width: 100%;
    background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
    background-size: cover;
    position: relative;
  }
  .banner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.3;
    background: #000;
  }
  .subTitle {
    position: relative;
    padding-top: 230px;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

    background: #ffffff;
    background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* body 다음 최상위 박스 */
  section.itemFilter {
    margin: 0 auto;
    padding: 0 20px 120px;
    width: 100%;
  }

  .first > .h3_tbup {
    position: relative;
    font-family: "Gowun Batang", serif;
    font-size: 26px;
    text-align: center;
    color: #fff;
  }
  .first > p {
    position: relative;
    padding-top: 10px;
    text-align: center;
    color: #fff;
  }
  .first > .h3_sm {
    display: none;
  }

  h4 {
    margin-top: 120px;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .h4_p {
    text-align: center;
  }

  /* 메인메뉴 외부 박스 */
  .filterBox {
    width: 100%;
    height: 397px; /*높이값 최상위 */
    margin: 70px auto 0;
    padding: 10px;
    background: #f4f4f6;
    border-radius: 10px;
  }
  .filterBoxInner {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background: #fff;
    border-radius: 10px;
  }

  /* 메인메뉴 모양 */
  .pickingBox {
    width: 48%;
  }
  .pickingBox > li {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }
  .pickingBox > li > label {
    width: 20%;
  }
  .pickingBoxDesc {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(20% - 1px); /*제목 너비보다 1작게 */
    height: 62px;
    width: calc(100% - 20% - 1px);
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
  }

  /* 메인메뉴 제목 모양 */
  .pickingBox > li > input {
    display: none;
  }
  .pickingBox > li > label {
    display: block;
    width: 20%; /* 블라인드, Desc박스 기준점*/
    height: 62px;
    z-index: 9;
    font-size: 14px;
    color: #9542bf;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
    border: solid 1px #f5d1e9;
    border-radius: 10px 0 0 10px;
    transition: all 0.4s ease-in;
  }
  .pickingBox:nth-child(1) > li > label:hover {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > label:hover + div {
    z-index: 11;
    position: absolute;
    left: calc(20% - 1px); /*제목 너비보다 1작게*/
    top: 1px;
    width: 2px;
    height: 60px;
    background: #fff;
  }

  .pickingBox:nth-child(1) > li > input:checked ~ label {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
    border: solid 1px #f5d1e9;
  }
  .pickingBox:nth-child(1) > li > input:checked ~ div {
    z-index: 11;
    position: absolute;
    left: calc(20% - 1px); /*제목 너비보다 1작게*/
    top: 1px;
    width: 2px;
    height: 60px;
    background: #fff;
  }

  /* 블라인드 */
  .pickingBox > li > .blind2 {
    z-index: 9;
    position: absolute;
    left: calc(20% - 1px); /*제목 너비보다 1px 적게*/
    top: 62px;
    width: 2px;
    height: 10px;
    background: #fff;
  }
  .pickingBox > li > .blind3 {
    z-index: 2;
    position: absolute;
    left: 20%; /*제목 너비와 같게*/
    top: 1px;
    width: 1px;
    height: 60px;
    background: #fff;
  }

  /* 좌측 서브메뉴 모양 */
  .submenu {
    position: absolute;
    z-index: 1;
    left: calc(20% - 1px); /*제목 너비보다 1작게*/
    height: 278px;
    width: 0;
    overflow: hidden;
    background: #fff;
    border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
    border-radius: 0 10px 10px 0;
    transition: all 0.4s ease-in; /* 작동 안하는 이유 불명 */
  }
  .submenuNose {
    top: 0;
  }
  .submenuPalate {
    top: -72px;
  }
  .submenuFinish {
    top: -144px;
  }
  .submenuType {
    top: -216px;
  }

  /* 좌측 서브메뉴 선택 후 모양 */
  #noseBtn:checked ~ .submenuNose {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 20% - 1px);
  }
  #palateBtn:checked ~ .submenuPalate {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 20% - 1px);
  }
  #finishBtn:checked ~ .submenuFinish {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 20% - 1px);
  }
  #typeBtn:checked ~ .submenuType {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 20% - 1px);
  }

  /* 좌측 서브메뉴 제목 모양 */
  .submenu input {
    display: none;
  }
  .submenu input:checked + label {
    color: #9542bf;
    text-shadow: 0 0 2px #9542bf;
  }
  .submenu label {
    float: left;
  }
  .submenu label {
    display: block;
    float: left;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
  }
  .submenu label:hover {
    color: #9542bf;
  }

  /* 우측 서브메뉴 선택된 항목 출력 박스 HD*/
  .r-pickingBox {
    width: 45%;
  }
  .r-pickingBox > li > label {
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }
  .r-pickingBox > li > .pickedBox {
    position: absolute;
    top: 0;
    left: calc(20% - 1px); /*제목 너비보다 1작게 */
    width: calc(100% - 20% - 1px);
    display: flex; /* 하위 li들 정렬용 */
  }
  .pickedBox > li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 62px;
    padding: 0 30px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
  }

  .pickedBox input {
    display: none;
  }

  .pickedBox li label {
    position: relative;
    margin-right: 15px;
    height: 42px;
    padding: 5px 50px 5px 20px;
    line-height: 27px;
    white-space: nowrap;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #9542bf;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox li label::after {
    position: absolute;
    top: 10px;
    right: 20px;
    content: "×";
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
  }
  .pickedBox li label:hover {
    color: #9542bf;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }

  /* 우측 서브메뉴 스크롤 화살표 */
  .pickedBox .chevron {
    z-index: 9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox .chevron:hover {
    filter: invert(0.9);
  }
  .pickedBox .Lchevron {
    left: 10px;
    background: url(../imgs/toLeft.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }
  .pickedBox .Rchevron {
    right: 10px;
    background: url(../imgs/toRight.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }

  /* 우측서브메뉴 overflow 쉐이딩박스 */
  .pickedBox .shading {
    z-index: 8;
    position: absolute;
    width: 70px;
    height: calc(100% - 2px);
  }
  .pickedBox div[class*="left"] {
    top: 1px;
    left: 1px;
    background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }
  .pickedBox div[class*="right"] {
    top: 1px;
    right: 1px;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }

  /* 조건에 맞는 럼 출력 스위치 */
  .filterBoxInner > button {
    display: block;
    position: absolute;
    bottom: 5%;
    left: calc(50% - 60px);
    padding-bottom: 4px;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    background: #fff;
    border: 2px solid #808292;
  }
  .filterBoxInner > button:hover {
    color: #fff;
    background: #808292;
    border: 0;
  }

  /* 검색결과 출력 슬라이더 최상위 박스*/
  section.itemShow {
    position: relative;
  }

  /* 좌우스크롤 화살표 */
  .Bchevron {
    z-index: 10;
    position: absolute;
    bottom: calc(50% - 50px);
    width: 30px;
    cursor: pointer;
    filter: invert(0.7);
    transition: all 0.4s ease-in;
  }
  .toLeft {
    left: 30px;
  }
  .toLeft:hover {
    filter: invert(0.1);
  }
  .toRight {
    right: 30px;
  }
  .toRight:hover {
    filter: invert(0.1);
  }

  .carouselBox {
    padding: 90px 260px 120px;
    height: 855px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background: url(../imgs/ourRumsCarouselBoxBg.png) no-repeat center;
    background-size: cover;
  }
  .itemBox {
    display: inline-block;
    position: relative;
    padding: 50px;
    margin: auto 25px;
    width: 400px;
    height: 645px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in;
  }

  .itemBox:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .itemBox > .itemImg {
    width: 300px;
    height: 300px;
    margin-bottom: 45px;
    border-radius: 300px;
    object-fit: cover;
  }
  .itemBox > h5 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #e2e2e2;
    text-align: center;
    text-transform: uppercase;
  }
  .itemBox > p {
    white-space: normal;
    font-size: 16px;
    color: #e2e2e2;
    text-align: center;
  }

  .itemBox > a {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 2px 2px 3px 2px rgba(3, 3, 3, 0.5);
    transition: all 0.3s ease-in;
  }
  .itemBox > a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(188, 188, 188, 0.5);
  }
}

/* ///// TB ///// */
@media screen and (min-width: 660px) and (max-width: 1049px) {
  /* 섹션 타이틀 */
  .banner {
    position: relative;
    height: 580px;
    width: 100%;
    background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
    background-size: cover;
  }
  .banner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.3;
    background: #000;
  }
  h2 {
    position: relative;
    padding-top: 230px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-weight: normal;
    letter-spacing: 1px;

    background: #ffffff;
    background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .first {
    position: relative;
    padding: 0;
  }
  .first > .h3_tbup {
    font-family: "Gowun Batang", serif;
    font-size: 26px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #333;
  }
  .first > p {
    text-align: center;
    padding: 10px 0 0 0;
    color: #fff;
    text-shadow: 2px 2px 5px #333;
  }
  .first > .h3_sm {
    display: none;
  }

  /* body 다음 최상위 박스 */
  section.itemFilter {
    margin: 0 auto;
    padding: 0 20px 120px;
    width: 100%;
  }

  h4 {
    margin: 120px 0 -5px;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .h4_p {
    text-align: center;
  }

  /* 메인메뉴 외부 박스 */
  .filterBox {
    width: 100%;
    height: 750px;
    margin: 70px auto 0;
    padding: 10px;
    background: #f4f4f6;
    border-radius: 10px;
  }
  .filterBoxInner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }

  /* 메인메뉴 윤곽 */
  .pickingBox {
    width: 100%;
  }
  .pickingBox > li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .pickingBoxDesc {
    position: absolute;
    top: 0;
    left: 149px; /*메인메뉴 제목 너비보다 1px작게*/
    width: calc(100% - 149px);
    height: 62px;
    font-size: 16px;
    color: #333;
    line-height: 57px;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
    padding: 0 20px;
  }

  /* 메인메뉴 제목 모양 */
  .pickingBox > li > input {
    display: none;
  }
  .pickingBox > label {
    font-size: 16px;
  }
  .pickingBox > li > label {
    display: block;
    width: 150px; /* width 초기값 176px */
    height: 62px;
    z-index: 9;
    font-size: 16px;
    color: #9542bf;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
    border: solid 1px #f5d1e9;
    border-radius: 10px 0 0 10px;
    transition: all 0.4s ease-in;
  }
  .pickingBox:nth-child(1) > li > label:hover {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
  }

  .pickingBox:nth-child(1) > li > input:checked ~ label {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
    border: solid 1px #f5d1e9;
  }

  /* 메인&서브메뉴 사이 블라인드 */
  .pickingBox > li > .blind2 {
    z-index: 9;
    position: absolute;
    left: 149px;
    top: 62px; /*.pickedBox left값과 같게*/
    width: 2px;
    height: 10px;
    background: #fff;
  }
  .pickingBox > li > .blind3 {
    z-index: 2;
    position: absolute;
    left: 150px;
    top: 1px; /*메인메뉴 제목 너비와 같게*/
    width: 1px;
    height: 60px;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > label:hover + div {
    z-index: 11;
    position: absolute;
    left: 149px;
    top: 1px; /*메인메뉴 제목 너비보다 1작게*/
    width: 2px;
    height: 60px;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > input:checked ~ div {
    z-index: 11;
    position: absolute;
    left: 149px;
    top: 1px; /*메인메뉴 제목 너비보다 1작게*/
    width: 2px;
    height: 60px;
    background: #fff;
  }

  /* 서브메뉴 모양 */
  .submenu {
    position: absolute;
    z-index: 1;
    left: 149px; /*메인메뉴 제목 너비보다 1 작게*/
    height: 278px;
    width: 0;
    overflow: hidden;
    background: #fff;
    border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
    border-radius: 0 10px 10px 0;
    transition: all 0.4s ease-in; /* 작동 안하는 이유 불명 */
  }
  .submenuNose {
    top: 0;
  }
  .submenuPalate {
    top: -72px;
  }
  .submenuFinish {
    top: -144px;
  }
  .submenuType {
    top: -216px;
  }

  /* 서브메뉴 제목 선택 후 모양 */
  #noseBtn:checked ~ .submenuNose {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 149px);
    padding: 0 10px;
  }
  #palateBtn:checked ~ .submenuPalate {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 149px);
    padding: 0 10px;
  }
  #finishBtn:checked ~ .submenuFinish {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 149px);
    padding: 0 10px;
  }
  #typeBtn:checked ~ .submenuType {
    z-index: 10;
    border: 1px solid #f5d1e9;
    width: calc(100% - 149px);
    padding: 0 10px;
  }

  /* 상단 서브메뉴 슬라이더 항목 모양 */
  .submenu input {
    display: none;
  }
  .submenu input:checked + label {
    color: #9542bf;
    text-shadow: 0 0 2px #9542bf;
  }
  .submenu label {
    float: left;
  }
  .submenu label {
    display: block;
    float: left;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
  }
  .submenu label:hover {
    color: #9542bf;
  }

  /* 하단 서브메뉴 - 선택된 항목 출력 */
  .r-pickingBox {
    width: 100%;
  }
  .r-pickingBox > li {
    position: relative;
    width: 100%;
  }
  .r-pickingBox > li > label {
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }
  .r-pickingBox > li > .pickedBox {
    position: absolute;
    top: 0;
    left: 149px; /*메인메뉴 제목 너비보다 1px작게*/
    width: calc(100% - 149px);
    height: 62px;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
  }
  .pickedBox li {
    width: 100%;
    height: 62px;
    padding: 0 20px;
    color: #333;
    line-height: 57px;
  }
  .pickedBox > li {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
    padding: 0 60px;
  }
  .pickedBox input {
    display: none;
  }
  .pickedBox label {
    position: relative;
    margin-right: 15px;
    height: 42px;
    padding: 5px 50px 5px 20px;
    line-height: 27px;
    white-space: nowrap;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #9542bf;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox label::after {
    position: absolute;
    top: 10px;
    right: 20px;
    content: "×";
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
  }
  .pickedBox label:hover {
    color: #9542bf;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }

  /* 하단 서브메뉴 스크롤 화살표 */
  .pickedBox .chevron {
    top: calc(50% - 20px);
    z-index: 9;
    position: absolute;
    width: 20px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox .chevron:hover {
    filter: invert(0.9);
  }
  .pickedBox .Lchevron {
    left: 30px;
    background: url(../imgs/toLeft.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }
  .pickedBox .Rchevron {
    right: 30px;
    background: url(../imgs/toRight.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }

  /* 하단 서브메뉴 overflow 쉐이딩박스 */
  .pickedBox .shading {
    top: 0px;
    z-index: 8;
    position: absolute;
    width: 70px;
    height: 60px;
  }
  .pickedBox div[class*="left"] {
    left: 0px;
    background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }
  .pickedBox div[class*="right"] {
    right: 0px;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }

  /* 조건에 맞는 럼 출력 스위치 TB */
  .filterBoxInner > button {
    display: block;
    margin: 0 auto;
    padding-bottom: 4px;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    background: #fff;
    border: 2px solid #808292;
  }
  .filterBoxInner > button:hover {
    color: #fff;
    background: #808292;
    border: 0;
  }

  /* 럼 출력 슬라이더 모양 */
  .itemShow {
    position: relative;
  }
  .carouselBox {
    padding: 38px 105px;
    height: 720px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background: url(../imgs/ourRumsCarouselBoxBg.png) no-repeat center;
    background-size: cover;
  }

  /* 럼 출력 슬라이더 화살표*/
  .Bchevron {
    z-index: 9;
    position: absolute;
    cursor: pointer;
    width: 30px;
    bottom: calc(50% - 50px);
    filter: invert(0.7);
    transition: all 0.4s ease-in;
  }
  .toLeft {
    left: 27.5px;
  }
  .toLeft:hover {
    filter: invert(0.1);
  }
  .toRight {
    right: 27.5px;
  }
  .toRight:hover {
    filter: invert(0.1);
  }

  /* 럼 출력 슬라이더 상품소개 박스 */
  .itemBox {
    display: inline-block;
    position: relative;
    padding: 50px;
    margin: auto 25px;
    width: 400px;
    height: 644px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in;
  }

  .itemBox:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .itemBox > .itemImg {
    width: 300px;
    height: 300px;
    margin-bottom: 45px;
    border-radius: 300px;
    object-fit: cover;
  }
  .itemBox > h5 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #e2e2e2;
    text-align: center;
    text-transform: uppercase;
  }
  .itemBox > p {
    white-space: normal;
    font-size: 16px;
    color: #e2e2e2;
    text-align: center;
  }

  .itemBox > a {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 2px 2px 3px 2px rgba(3, 3, 3, 0.5);
    transition: all 0.3s ease-in;
  }
  .itemBox > a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(188, 188, 188, 0.5);
  }
}

/* ///// SM ///// */
@media screen and (max-width: 659px) {
  /* 섹션 타이틀 */
  .banner {
    height: 610px;
    width: 100%;
    background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
    background-size: cover;
    position: relative;
  }
  .banner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.3;
    background: #000;
  }
  h2 {
    position: relative;
    padding-top: 350px;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-weight: normal;
    letter-spacing: 1px;

    background: #ffffff;
    background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .rotate {
    position: absolute;
    left: -110px;
    top: 340px;
    transform: rotate(270deg);
    transform-origin: left;
  }
  .first {
    display: none;
    position: relative;
  }
  .first > .h3_tbup {
    display: none;
  }
  .first > h3 {
    font-family: "Gowun Batang", serif;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    text-shadow: 1px 3px 3px #333;
  }
  .first > p {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 3px 3px #333;
  }

  /* body 다음 최상위 박스 */
  section.itemFilter {
    margin: 0 auto;
    padding: 120px 20px 120px;
    width: 100%;
  }

  h4 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .h4_p {
    font-size: 14px;
    text-align: center;
  }

  /* 메인메뉴 외부 박스 SM */
  .filterBox {
    width: 100%; /*최소너비 보다 20px작게*/
    height: 720px; /*갤S5 최소높이는 640*/
    margin: 60px auto 0;
    padding: 10px;
    background: #f4f4f6;
    border-radius: 10px;
  }
  .filterBoxInner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background: #fff;
    border-radius: 10px;
  }

  /* 메인메뉴 윤곽 */
  .pickingBox {
    width: 100%;
  }
  .pickingBox > li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .pickingBox > li:nth-child(4) {
    margin-bottom: 0;
  }
  .pickingBox > li:nth-child(8) {
    margin-bottom: 0;
  }
  .pickingBoxDesc {
    position: absolute;
    top: 0;
    left: 69px; /*메인메뉴 제목 너비보다 1px작게*/
    width: calc(100% - 69px); /*absolute 속성에서 움직인 거리만큼 빼주면 원래 100% 길이 나옴
    /* width: 230px; */
    /*최소너비 수정 시 계산하여 조정*/
    height: 62px;
    font-size: 14px;
    color: #333;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
    padding: 8px 10px 0;
  }

  .pickingBox > li:nth-child(4) > .pickingBoxDesc {
    padding-top: 18px;
  }

  /* 메인메뉴 제목 모양 */
  .pickingBox > li > input {
    display: none;
  }
  .pickingBox > li > label {
    display: block;
    width: 70px; /* width 초기값 176px */
    height: 62px;
    z-index: 9;
    font-size: 14px; /*최소 너비에 맞게 조정*/
    color: #9542bf;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
    border: solid 1px #f5d1e9;
    border-radius: 10px 0 0 10px;
    transition: all 0.4s ease-in;
  }
  .pickingBox:nth-child(1) > li > label:hover {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > input:checked ~ label {
    z-index: 11;
    cursor: pointer;
    line-height: 60px;
    color: #333;
    background: #fff;
    border: solid 1px #f5d1e9;
  }

  /* 메인&서브메뉴 사이 블라인드 */
  .pickingBox > li > .blind2 {
    z-index: 9;
    position: absolute;
    left: 69px;
    top: 62px; /*메인메뉴 제목 너비보다 1작게*/
    width: 2px;
    height: 10px;
    background: #fff;
  }
  .pickingBox > li > .blind3 {
    z-index: 2;
    position: absolute;
    left: 70px;
    top: 1px; /*메인메뉴 제목 너비와 같게*/
    width: 1px;
    height: 60px;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > label:hover + div {
    z-index: 11;
    position: absolute;
    left: 69px;
    top: 1px; /*메인메뉴 제목 너비보다 1작게*/
    width: 2px;
    height: 60px;
    background: #fff;
  }
  .pickingBox:nth-child(1) > li > input:checked ~ div {
    z-index: 11;
    position: absolute;
    left: 69px;
    top: 1px; /*메인메뉴 제목 너비보다 1작게*/
    width: 2px;
    height: 60px;
    background: #fff;
  }

  /* 서브메뉴 모양 */
  .submenu {
    z-index: 1;
    position: absolute;
    left: 69px; /*메인메뉴 제목 너비보다 1 작게*/
    height: 278px;
    width: 0;
    overflow: hidden;
    background: #fff;
    border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
    border-radius: 0 10px 10px 0;
    transition: all 0.4s ease-in; /* 작동 안하는 이유 불명 */
  }
  .submenuNose {
    top: 0;
  }
  .submenuPalate {
    top: -72px;
  }
  .submenuFinish {
    top: -144px;
  }
  .submenuType {
    top: -216px;
  }

  /* 서브메뉴 슬라이드 모양 */
  #noseBtn:checked ~ .submenuNose {
    z-index: 10;
    width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
    border: 1px solid #f5d1e9;
  }
  #palateBtn:checked ~ .submenuPalate {
    z-index: 10;
    width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
    border: 1px solid #f5d1e9;
  }
  #finishBtn:checked ~ .submenuFinish {
    z-index: 10;
    width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
    border: 1px solid #f5d1e9;
  }
  #typeBtn:checked ~ .submenuType {
    z-index: 10;
    width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
    border: 1px solid #f5d1e9;
  }

  /* 서브메뉴 하위 항목들 모양 */
  .submenu input {
    display: none;
  }
  .submenu input:checked + label {
    color: #9542bf;
    text-shadow: 0 0 2px #9542bf;
  }
  .submenu label {
    float: left;
  }
  .submenu label {
    display: block;
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
  }
  .submenu label:hover {
    color: #9542bf;
  }
  .pickingBox > li > .submenu > label {
    font-size: 14px;
  }

  /* 하단 서브메뉴 - 선택된 항목 출력 */
  .r-pickingBox {
    width: 100%;
  }
  .r-pickingBox > li {
    position: relative;
    width: 100%;
  }
  .r-pickingBox > li > label {
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }
  .r-pickingBox > li > .pickedBox {
    position: absolute;
    top: 0;
    left: 69px; /*메인메뉴 제목 너비보다 1px작게*/
    width: calc(100% - 69px);
    height: 62px;
    border: 1px solid #f5d1e9;
    border-radius: 0 10px 10px 0;
  }
  .pickedBox > li {
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #333;
  }

  .pickedBox > li > label {
    position: relative;
    margin-right: 15px;
    height: 42px;
    padding: 5px 50px 5px 20px;
    white-space: nowrap;
    line-height: 29px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #9542bf;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox > li > label::after {
    position: absolute;
    top: 10px;
    right: 20px;
    content: "×";
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    background: #333;
    border-radius: 50%;
  }
  .pickedBox > li > label:hover {
    color: #9542bf;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
  }

  /* submenu2 스크롤 화살표 */
  .pickedBox .chevron {
    z-index: 9;
    position: absolute;
    top: calc(50% - 20px);
    width: 20px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .pickedBox .chevron:hover {
    filter: invert(0.9);
  }
  .pickedBox .Lchevron {
    left: 10px;
    background: url(../imgs/toLeft.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }
  .pickedBox .Rchevron {
    right: 10px;
    background: url(../imgs/toRight.png) no-repeat center;
    background-size: cover;
    filter: invert(0.5);
  }

  /* 하단 서브메뉴 overflow 쉐이딩박스 */
  .pickedBox .shading {
    position: absolute;
    top: 1px;
    z-index: 8;
    width: 50px;
    height: calc(100% - 1px);
  }
  .pickedBox div[class*="left"] {
    left: 0px;
    background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }
  .pickedBox div[class*="right"] {
    right: 0px;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
  }

  /* 조건에 맞는 럼 출력 스위치 SM */
  .filterBoxInner > button {
    display: block;
    margin: 0 auto;
    padding-bottom: 4px;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    background: #fff;
    border: 2px solid #808292;
  }
  .filterBoxInner > button:hover {
    color: #fff;
    background: #808292;
    border: 0;
  }

  /* 럼 출력 슬라이더 모양 */
  .itemShow {
    position: relative;
  }
  .carouselBox {
    padding: 20px 0px 10px 30px;
    height: 600px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background: url(../imgs/ourRumsCarouselBoxBg.png) no-repeat center;
    background-size: cover;
  }
  .carouselBoxPlus {
    padding: 38px 17px 38px 51px;
  } /*.addClass*/
  /* 럼 출력 슬라이더 화살표*/
  .Bchevron {
    z-index: 9;
    position: absolute;
    width: 25px;
    cursor: pointer;
    bottom: calc(50% - 25px);
    filter: invert(0.7);
    transition: all 0.4s ease-in;
  }
  .toLeft {
    left: 10px;
  }
  .toLeft:hover {
    filter: invert(0.1);
  }
  .toRight {
    right: 10px;
  }
  .toRight:hover {
    filter: invert(0.1);
  }

  /* 럼 출력 슬라이더 상품소개 박스 */
  .itemBox {
    display: inline-block;
    position: relative;
    padding: 50px 20px 30px;
    margin-right: 30px;
    width: 280px;
    height: 560px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in;
  }

  .itemBox:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .itemBox > .itemImg {
    width: 220px;
    height: 220px;
    margin-bottom: 25px;
    border-radius: 300px;
    object-fit: cover;
  }
  .itemBox > h5 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #e2e2e2;
    text-align: center;
    text-transform: uppercase;
  }
  .itemBox > p {
    white-space: normal;
    font-size: 14px;
    color: #e2e2e2;
    text-align: center;
  }

  .itemBox > a {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 2px 2px 3px 2px rgba(3, 3, 3, 0.5);
    transition: all 0.3s ease-in;
  }
  .itemBox > a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(188, 188, 188, 0.5);
  }
}
